.big-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: -16px;
  margin-left: -7px;
  background-image: url('/assets/wikipedia_logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index:10;
}