.shoutOut-container {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    display: block;
}

.shoutOut-container + .shoutOut-container {
    margin-top: 2px;
}

p {
    margin: 0;
}

h1 {
    margin: 10px 0;
}

.img-container {
    float: left;
}

img {
    margin-right: 10px;
}

a {
    float: right;
    background-color: #4674b9;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #cccccc;
    color: #fff;
    border-radius: 4px;
    margin: 2px 5px 0 0;
}

.title-container {
    width: 100%;
    border-bottom: 2px solid black;
    margin-left: 10px;
}

.short-container {
    margin-top: 10px;
    margin-left: 10px;
}

.long-container {
    margin-top: 10px;
}
