.small-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: -14px;
  margin-left: -5px;
  background-image: url('https://s3.us-east-2.amazonaws.com/recaster/wikipedia_logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}